* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 200px;
    background: linear-gradient(darkred, dodgerblue);
}

div {
    text-align: center;
    margin: 50px;
}

form input {
    margin: 10px;
}

label {
    margin: 10px;
}
