* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 200px;
    background: linear-gradient(darkred, dodgerblue);
}

div {
    text-align: center;
    margin: 50px;
}

form input {
    margin: 10px;
}

label {
    margin: 10px;
}

.visits {
    text-align: center;
}

.visits table {
    border: 1px solid black;
    width: 60%;
    margin: auto;
}

.visits table th {
    border: 1px solid black;
}

.visits table tr {
    border: 1px solid black;
}

.visits table td {
    border: 1px solid black;
}
